.initial-page {
  /* border: 20px solid black; */
  font-family: 'Courgette', cursive;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blueviolet;
  height: 100vh;
}

.initial-page button {
  /* border: 20px solid red; */
  margin-top: 40px;
}

.initial-page h1 {
  margin-bottom: 100px;
}