@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

body {
  background: url('../../images//fundo.jpg');
  background-size: cover;
}

.header-user-name {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  font-family: 'Shantell Sans', cursive;
  align-items:center;
  background: #a45785;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  height: 50px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-user-name h2 {
  color: white;
}

.header-user-name li a {
  color: white;
}