@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../../images//fundo.jpg');
  background-size: cover;
}

.loading {
  font-family: 'Shantell Sans', cursive;
  font-size: 50px;
  color: #37193b;
  position: absolute;
  transform: translate3d(-50%,-50%,0)
}
