@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

body {
  background: url('../../images//fundo.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.section-search {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.form-search {
  position: absolute;
  top: 90px;
  font-family: 'Shantell Sans', cursive;
  align-items:center;
  background: #a45785;
  border-radius: 10px;
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 50%;
}

.form-search h3 {
  color: white;
}

.search-artist-input {
  background: white;
  border: none;
  border-radius: 25px;
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.76), inset -2px -2px 4px 0px rgba(167, 167, 167, 0.15);
  /* color: black; */
  font-size: 14px;
  height: 30px;
  outline: none;
  padding-left: 20px;
  width: 200px;
  font-weight: 400;
  color: black;
}

.form-search button {
  background: #566981;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.76),-2px -2px 5px 0px rgba(167, 167, 167, 0.15);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  outline: none;
  width: 15%;
}

.form-search button:hover {
  background-color: #3f4e5f;
}

.form-search button:active {
  box-shadow: 0 5px white;
  transform: translateY(1px);
}

.search-album {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.search-album p {
  color: #37193b;
  font-family: 'Shantell Sans', cursive;
  font-size: xx-large;
}